{% extends "base.html" %}
{% block head %}
{% endblock %}


{% block content %}
<body>

    <h1><u> Signup Page </u></h1>
    <h1><u> Create an account today!</u></h1>

    <div class="input-form">
        <form class="form-class" method="POST">
            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Email" class="input-field" required>
            </div>
            <br>
            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="Username" class="input-field" required>
            </div>
            <br>
            <div class="form-group">
                <input type="text" id="firstName" name="firstName" placeholder="First Name" class="input-field" required>
            </div>
            <br>
            <div class="form-group">
                <input type="text" id="lastName" name="lastName" placeholder="Last Name" class="input-field" required>
            </div>
            <br>
            <div class="form-group">
                <input type="password" id="password1" name="password1" placeholder="Password" class="input-field" required>
            </div>
            <br>
            <div class="form-group">
                <input type="password" id="password2" name="password2" placeholder="Confirm Password" class="input-field" required>
            </div>
            <br>
            <div class="type-radio">
                <input class="radio-input" type="radio" value="Student" name="radioUserType" id="radioStudent">
                <label class="radio-label" for="radioUserType"> Student </label>
                <input class="radio-input" type="radio" value="Teacher" name="radioUserType" id="radioTeacher">
                <label class="radio-label" for="radioUserType"> Teacher </label>
            </div>
            <br>
            <div class="form-button">
                <button type="submit" class="input-button"> Sign Up </button>
            </div>
        </form>
    </div>
</body>

{% endblock content%}