/* Grey #383838 */ 
/* Light Grey #e3e3e3 */ 
/* Light Blue #00eeff */

/* Light Pink #fa2686 */

/* Style the links inside the navigation bar */
body {
    background: #383838;
    color: #00eeff

}

.topnav a {
    border-bottom: 1px solid #00eeff;
    float: right;
    color: #fffffc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    }
    
    .topnav a:hover {
    background-color: #282828;
    }
    
    /* WIP Add a color to the active/current link */
    .topnav a.active {
    background-color: #ef233cff;
    color: #1c1c1cff;
    }