/* Grey #383838 */ 
/* Light Grey #e3e3e3 */ 
/* Light Blue #00eeff */

/* Light Pink #fa2686 */
/*debug*/
/**/
*{
    outline: 1px solid red; 
}

/* Style the links inside the navigation bar */
body {
    background: #383838;
    color: #00a2ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    margin-top: 0px;
}
.logo{
    font-size: 30px;
    padding-left: 10px;
    padding-top: 10px;
}

.topnav{
    box-sizing: border-box;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid #505050;
    background-color: #1c1c1cff;
    display: block;
    overflow: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 2;
}
.topnav a {

    float: right;
    color: #fffffc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
    
.topnav a:hover {
background-color: #282828;
border-bottom: 1px solid #00a2ff;
}
    
/* WIP Add a color to the active/current link */
.topnav a.active {
background-color: #ef233cff;
color: #1c1c1cff;
}

.radio-input {
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0,0,0, 0.25);
}
.alert {
    padding: 10px;
    background-color: #00a2ff;
    color: #fffffc;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
}
.input-button {
    color: #e8e8e8;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #00a2ff;
    border: 1px solid #00a2ff;
    transition: all .3s;
  }
  
  .input-button:hover {
    border: 1px solid #026198;
  }
  
  .input-button:active {
    box-shadow: 4px 4px 12px #026198,
               -4px -4px 12px #026198;
  }
