<!DOCTYPE html>
<html lang="en">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert {{ category }}">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ msg }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title> Align </title>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="topnav">
        <div class="logo">Align</div>
        <a href="{{ url_for('views.landing') }}">About</a>
        <a href="{{ url_for('views.profile') }}">Profile</a>
        <a href="{{ url_for('auth.login') }}">Login</a>
    </div>
    {% block content %} {% endblock content %}
</body>
</html>