{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block content %}
<body>
    <title> Course List </title>
    <h1><u> Join A Course Today! </u></h1>
        <div class="input-form">
            <form class="form-class" id="course_choice" name="course_choice" method="post">
                <select class="form-group"id=course_name name="course_name">
                    {% for course in courses %}
                    <option value="{{ course.courseName }}">{{ course.courseName }}</option>
                    {% endfor %}
                </select>
                <br>
                <div class="form-button">
                    <button type="submit" class="input-button"> Sign Up </button>
                </div>            
            </form>
        </div>
    </body>
{% endblock %}