{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block content %}
<body>
    <h2 class="account-title">Welcome back {{ current_user.firstName +" "+ current_user.lastName }}!</h2>
    <p class="account-details"> Email {{ current_user.email }}</p>
    <p class="account-details"> Username: {{ current_user.username }}</p>
    <h2><u> Update Your Details: </u></h2>
        <div class="input-form">
            <form class="form-class" method="POST">
                <div class="form-group">
                    <input type="email" id="new_email" name="new_email" placeholder="New Email" class="input-field">
                </div>
                <br>
                <div class="form-group">
                    <input type="text" id="new_username" name="new_username" placeholder="New Username" class="input-field">
                </div>
                <br>
                <div class="form-group">
                    <input type="text" id="new_firstName" name="new_firstName" placeholder="New First Name" class="input-field">
                </div>
                <br>
                <div class="form-group">
                    <input type="text" id="new_lastName" name="new_lastName" placeholder="New Last Name" class="input-field">
                </div>
                <br>
                <div class="form-button">
                    <button type="submit" class="input-button"> Update </button>
                </div>
            </form>
            </div>
                {% for course in courses_joined %}
                <div class="course-field"><h3><u>{{ course.courseName }}</u></dh3>
                    <br><h4>{{ course.courseInformation }}</h4>
                </div>
                {% endfor %}
            </div>
        </div>
</body>
{% endblock content %}